Set-StrictMode -Version 3.0
$ErrorActionPreference = "Stop"

#region Winget packages
{{ $winget_list := (output "cmd" "/C" "winget export -o %TEMP%\\winget_list && type %TEMP%\\winget_list") -}}
{{- range $s, $pkgs := index .packages.windows.winget .profile }}
  {{- range $item := $pkgs }}
{{   if not (contains $item $winget_list) -}}
        Write-Host Installing winget package '{{ $item}}'
        winget install `
          --scope user --exact --source {{ $s }} --id {{ $item }} `
          --accept-source-agreements `
          --accept-package-agreements `
          --silent `
          --disable-interactivity
{{   end }}
    {{- end }}
{{ end }}
#endregion

#region Scoop packages
{{ $scoop_list := (output "cmd" "/C" "scoop export") -}}
{{$scoop_list := (fromJson $scoop_list) -}}
{{- $bucketAppNames := dict -}}
{{- range $index, $app := $scoop_list.apps -}}
    {{- $bucketAppNames = set $bucketAppNames (printf "%s/%s" $app.Source $app.Name) true -}}
{{- end -}}

scoop install aria2
scoop install git

{{- range $category,$pkgs := index .packages.windows.scoop .profile }}
  {{   if not (contains  $category (printf "%s"   $scoop_list.buckets )) -}}
  scoop bucket add {{$category}}
  {{- end -}}
  {{- range  $item  := $pkgs }}
       {{- $bucketAppKey := printf "%s/%s" $category $item }}
        {{   if not (get $bucketAppNames $bucketAppKey) -}}
  scoop install {{ $bucketAppKey }}
      {{- end }}
  {{- end }}
{{ end }}
#endregioni

