{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $profile := promptStringOnce . "profile" "enter profile" -}}



[data]
    email = {{ $email | quote }}
    profile = {{ $profile | quote}}

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1xuw0qcwzxzlkw66gyy67tql88y39mfpjkjw7xfrrdel6u0na0ekslk89l8"
