{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $profile := promptStringOnce . "profile" "enter profile" -}}



[data]
    email = {{ $email | quote }}
    profile = {{ $profile }}

[edit]
    command = "nvim"

